<%- include('../partials/header') %>

<div class="container">
  <div class="order-details">
    <h2 class="fonts-format">Menu - <span id="nameRestaurant"><%= name%></span></h2>
    <div class="menu-list-items">
      <ul id="menu-list" class="fonts-format">
      </ul>
      <form>
      <div class="order-items">
        <h2 class="fonts-format">Your order:</h2>
        <ul id="order-list">  
        </ul>
        <p>Total: $<span id="total">0</span></p>
      </div>
      <div class="address">
        <h2 class="fonts-format">Address:</h2>
        <p><%=user.address%></p>
      </div>
      <button id="btn-submit-order" type="submit" class="btn-order">Order</button>
    </form>
    </di>
  </div>
</div>

<%- include('../partials/footer') %>
