<%- include('../partials/header') %>

<div class="container">
  <div class="order-details">
    <h2 class="fonts-format">Menu - <%= name%></h2>
    <div class="menu-list-items">
      <ul id="menu-list" class="fonts-format">
        <!-- Aqui serão gerados os itens do menu dinamicamente -->
      </ul>
      <form>
      <div class="pedido">
        <h2 class="fonts-format">Your order:</h2>
        <ul id="order-list">
          <!-- Aqui serão mostrados os itens adicionados ao pedido -->
        </ul>
        <p>Total: $<span id="total">0</span></p>
      </div>
      <button id="btn-submit-order" type="submit" class="btn-order">Order</button>
    </form>
    </di>
  </div>
</div>

<%- include('../partials/footer') %>
