<%- include('../partials/header') %>
<section id="sale">
  <div class="sales">
    <div class="sale-left">
      <div class="sale-image"></div>
      <div class="sale-description">
        <h5 class="sale-description-title">All deserts</h5>
        <h2 class="sale-description-discount">20% OFF</h2>
        <p class="sale-description-description">Dessert</p>
      </div>
    </div>
    <div class="sale-right">
      <div class="sale-image"></div>
      <div class="sale-description">
        <h5 class="sale-description-title">Big burgers</h5>
        <h2 class="sale-description-discount">50% OFF</h2>
        <p class="sale-description-description">Foodies</p>
      </div>
    </div>
  </div>
</section>
<section id="category">
  <div class="category-list">
    <ul class="category-items">
      <li class="category-item mouse">
        <img src="/emoji/pizza.png" alt="" />
        <p>Pizza</p>
      </li>
      <li class="category-item selected">
        <img src="/emoji/burger.png" alt="" />
        <p>Burger</p>
      </li>
      <li class="category-item">
        <img src="/emoji/meat.png" alt="" />
        <p>BBQ</p>
      </li>
      <li class="category-item selected">
        <img src="/emoji/sushi.png" alt="" />
        <p>Sushi</p>
      </li>
      <li class="category-item">
        <img src="/emoji/broccoli.png" alt="" />
        <p>Vegan</p>
      </li>
      <li class="category-item">
        <img src="/emoji/cake.png" alt="" />
        <p>Desserts</p>
      </li>
    </ul>
  </div>
</section>
<section id="restaurants">
  <div class="restaurants-nearby-title">
    <h5>Nearby Restaurants</h5>
  </div>
  <div class="restaurants-list">
    <ul class="restaurants-items">
      <li class="restaurants-item">
        <div class="restaurants-details">
          <div class="restaurants1-image">
            <div class="restaurant-featured">FEATURED</div>
          </div>
          <div class="restaurants-description">
            <div class="restaurant-name">
              <a href=""><h6>Royal Sushi House</h6></a>
              <a href=""><img src="/svg/shopping_bag.svg" alt="" /></a>
            </div>
            <div class="restaurant-timer-value">
              <p>
                <img src="/svg/timer.svg" alt="" />&nbsp;30-40 min • $32 min sum
              </p>
            </div>
            <div class="restaurant-type">
              <div class="type-food">
                <img src="/emoji/sushi.png" alt="" />
                <p>Sushi</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="restaurants-item">
        <div class="restaurants-details">
          <div class="restaurants2-image">
            <div class="restaurant-featured">FEATURED</div>
          </div>
          <div class="restaurants-description">
            <div class="restaurant-name">
              <a href=""><h6>Burgers & Pizza</h6></a>
              <div class="restaurant-badge">
                <a href=""><img src="/svg/shopping_bag.svg" alt="" /></a>
                <div class="restaurant-badge-number">2</div>
              </div>
            </div>
            <div class="restaurant-timer-value">
              <p>
                <img src="/svg/timer.svg" alt="" />&nbsp;40-60 min • $24 min sum
              </p>
            </div>
            <div class="restaurant-type">
              <div class="type-food">
                <img src="/emoji/burger.png" alt="" />
                <p>Burger</p>
              </div>
              <div class="type-food">
                <img src="/emoji/pizza.png" alt="" />
                <p>Pizza</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="restaurants-item">
        <div class="restaurants-details">
          <div class="restaurants3-image"></div>
          <div class="restaurants-description">
            <div class="restaurant-name">
              <a href=""><h6>Ninja Sushi</h6></a>
              <a href=""><img src="/svg/shopping_bag.svg" alt="" /></a>
            </div>
            <div class="restaurant-timer-value">
              <p>
                <img src="/svg/timer.svg" alt="" />&nbsp;20-40 min • $40 min sum
              </p>
            </div>
            <div class="restaurant-type">
              <div class="type-food">
                <img src="/emoji/sushi.png" alt="" />
                <p>Sushi</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="restaurants-item">
        <div class="restaurants-details">
          <div class="restaurants4-image"></div>
          <div class="restaurants-description">
            <div class="restaurant-name">
              <a href=""><h6>Sushi master</h6></a>
              <a href=""><img src="/svg/shopping_bag.svg" alt="" /></a>
            </div>
            <div class="restaurant-timer-value">
              <p>
                <img src="/svg/timer.svg" alt="" />&nbsp;60-70 min • $49 min sum
              </p>
            </div>
            <div class="restaurant-type">
              <div class="type-food">
                <img src="/emoji/sushi.png" alt="" />
                <p>Sushi</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="restaurants-item">
        <div class="restaurants-details">
          <div class="restaurants5-image"></div>
          <div class="restaurants-description">
            <div class="restaurant-name">
              <a href=""><h6>Japanese sushi</h6></a>
              <a href=""><img src="/svg/shopping_bag.svg" alt="" /></a>
            </div>
            <div class="restaurant-timer-value">
              <p>
                <img src="/svg/timer.svg" alt="" />&nbsp;30-50 min • $104 min
                sum
              </p>
            </div>
            <div class="restaurant-type">
              <div class="type-food">
                <img src="/emoji/sushi.png" alt="" />
                <p>Sushi</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="restaurants-item">
        <div class="restaurants-details">
          <div class="restaurants6-image"></div>
          <div class="restaurants-description">
            <div class="restaurant-name">
              <a href=""><h6>Kobe</h6></a>
              <a href=""><img src="/svg/shopping_bag.svg" alt="" /></a>
            </div>
            <div class="restaurant-timer-value">
              <p>
                <img src="/svg/timer.svg" alt="" />&nbsp;20-30 min • $57 min sum
              </p>
            </div>
            <div class="restaurant-type">
              <div class="type-food">
                <img src="/emoji/sushi.png" alt="" />
                <p>Sushi</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<%- include('../partials/footer') %>
